extends layout

block content
  div.container
    div.row
      div.col-sm-8
        div.info
          p by&nbsp-&nbsp
            span.author #{author}
        div.markdown-body
          p !{content}
