body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.info {
  border-bottom: 1px solid #eee;
}

.author {
  color: #00B7FF;
  margin-bottom: 2px;
}
